# Build directories
build/
out/
debug/
release/
cmake-build-*/

# CMake artifacts
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Binary files
*.out
*.exe
*.app
*.dll
*.dylib
*.so

# IDE specific (VSCode)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Project specific
csc_spmv.out